#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  /* background-color: rgb(0, 0, 0); */
  background: linear-gradient(180deg, #000000 0%, #6c6c6c 100%);
}
.nav{
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}
ul{
  width:80% ;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul li{
  font-size: x-large;
}
.firstContainer{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-around;

}
.container2{
  margin-left: 200px;
}
/* footer.css */
footer {
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
